html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #5E5E5E!important;
}

body.menu-open {
  overflow: hidden;
}

.site-logo {
  width: 180px;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  padding:0!important
}
.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: #ffffff;
  z-index: 1000;
  border-left:#cccccc 1px solid;
  border-right:#cccccc 1px solid;
  border-bottom:#cccccc 1px solid;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)!important;
}

.navbar-nav{
  padding-top: 15px !important;
}

#menu{
  z-index: 500;
  border-left:#cccccc 1px solid!important;
  border-right:#cccccc 1px solid!important;
}

.site-content{
  border-left:#cccccc 1px solid;
  border-right:#cccccc 1px solid;
}

.nav-item {
  margin: 0px 15px;
}

.nav-link {
  text-decoration: none;
  color: #5E5E5E;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  color: #ff5c25 !important;
}

.site-hero .description{
 background:none;
}

.description{
  font-size: 18px;
  font-weight: 500;
  max-width: 80%;
  margin: 0 auto;;
  background-color: #09313a;
  color: #ffffff;
  padding:1em;
  text-shadow: 4px 4px 15px #000000;
}

.sub-description{
  font-size: 15px;
  font-weight: 500;
  max-width: 50%;
  margin: 0 auto;;
  background-color: #09313a;
  color: #ffffff;
  padding:1em;
  text-shadow: 4px 4px 15px #000000;
}

.calltoaction{
  width:fit-content;
  padding: 0.5rem 1rem!important;
  margin:0 auto;
  margin-top:1rem;
}

.calltoaction:hover{
  color:#ffffff!important;
}

.nobold{
  font-weight: normal!important;
}

.underline{
  background-color: #F15522;;
  height: 3px;
  display: inline-block;
  position: relative;
  top:37px;
  box-shadow: 2px 2px 10px #000000ab;
}

.underline-inner{
  position: relative;
  top:-37px;
  background-color:;
  line-height: 20px;
  display: inline-block;
}

.highlighted{
  background-color: #F15522;
  color: #ffffff;
  padding: 0.1rem 0.5rem;
  box-shadow: 2px 2px 10px #000000ab;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 28px;
  background-color: #cccccc;
  color: white;
  border: none;
  border-radius: 20%;
  width: 44px;
  height: 44px;
  font-size: 20px;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  }

.scroll-top-btn.show {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.scroll-top-btn:hover{
  background-color: #868686;
} 

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color:#474747!important;
}

.hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner:after, .hamburger:hover .hamburger-inner:before {
  background-color: #5E5E5E!important;
}

.hero-section{
  position: relative;
  height: 650px;
  background: #000000 url(/img/texture.webm) center;
  padding:0px!important;
  overflow: hidden;
}

.hero-section-bg{
  position: absolute;
  height: 650px;
  width: 101%;
  background: linear-gradient(120deg, #ec38f2, #00f0ff, #a5ffcb);
  z-index: 0;
  opacity: 0.2;
  background-size: 200% 200%;
  animation: gradientShift 30s ease infinite;
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-section::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url('img/noise.png');
  opacity: 0.5;
  pointer-events: none;
  z-index:0 ;
}  

.hero-content::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ffffff;
  filter: blur(60px);
  opacity: 0.2;
  z-index: 1;

}

.star-content{
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden; 
  pointer-events: none;
  opacity: 0.8;
  animation: rotate 629s linear infinite;
  transform-origin: center center;
}

@keyframes rotate {
  0%   { transform:  scale(2.5) rotate(0deg); }
  100% { transform:  scale(2.5) rotate(-360deg); }
}

.hero-content{
  position: relative;
  top:180px;
  z-index: 2;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  animation: rotateSlow 329s linear infinite;
  transform-origin: center center;
  object-fit: contain;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
}

@keyframes rotateSlow {
  0%   { transform: translate(-50%, -50%) scale(2.7) rotate(0deg); }
  100% { transform: translate(-50%, -50%) scale(2.7) rotate(360deg); }
}

  .tagline{
    color:#ffffff;
  }

  .site-hero .description{
    color:#ffffff;
    line-height: 2.4rem;
  }

 .site-hero .description, .site-hero .tagline, .site-hero h1{
  position: relative;
  z-index: 3;
  text-shadow: 4px 4px 15px #000000;
  }

  a{
    color:#5E5E5E;
  }
  a:hover{
    color:#272727;
  }


.btn{
  box-shadow: 4px 4px 15px #000000;
}
  h1 .highlighted{
    text-shadow: none;
  }


.btn, .btn.disabled {
  position: relative;
  z-index: 3;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #F15522 !important;
  border: #F15522 1px solid;
}

.btn:hover {
  background-color: #fc7030 !important;
  border: #fc7030 1px solid;
  font-size: 14px;
  color: #ffffff!important;
  transform: scale(1.03);
}

:not(.btn-check) + .btn:active {
  background-color: #d34b1e!important;
  border: #d34b1e 1px solid;
  color:#ffffff!important;
}



 .btn-secondary{
  border:#F15522 1px solid!important;
  color:#F15522!important;
  background-color: #ffffff!important;
  margin-left: 1rem;
}

.btn-secondary:hover{
  border:#F15522 1px solid!important;
  color:#ffffff!important;
  background-color: #fc7030!important;
}

:not(.btn-check) + .btn-secondary:active {
  background-color: #d34b1e!important;
  border: #d34b1e 1px solid;
  color:#ffffff!important;
}


.site-content {
  padding-top: 0px;
  padding-left: 0;
  padding-right:0;
}

section[id] {
  scroll-margin-top: 0px;
  padding-bottom: 100px;
  scroll-margin-top: 150px;
 /* padding-top:150px;*/
}

.center {
  text-align: center;
}

h1, h2, h3, h4{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: block;
}

h1{
  color:#ffffff;
}


h2 {
  text-transform: uppercase;
  font-weight: 700;
  color:#F15522;
  background-color: #ffffff;
  padding: 0.8rem 2rem;
  margin-bottom: 0px!important;
  font-size: 1.5rem;  
}

h3{
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.7rem 1rem;
  margin-bottom: 0px!important;
  font-size: 1.2rem;  
}

h4{
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.7rem 1rem;
  margin-bottom: 0px!important;
  font-size: 0.9rem; 
  background-color: #5E5E5E;
  color: #ffffff;
  border-color: none!important;
}



.title-section{
  display: block;
  padding: 1px;
  background: linear-gradient(240deg, #ec38f2, #00f0ff, #a5ffcb); 
  max-width: 80%;
  margin-bottom: 15px!important;
  margin: 0 auto;
  max-width:50%;
  background-size: 250% 250%;
  animation: gradientShiftTitle 30s ease infinite;
}


@keyframes gradientShiftTitle {
0%   { background-position: 0% 50%; }
50%  { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}

.sub-title-section{
  display: block;
  max-width: 50%;
  margin: 0 auto;
  color: #ffffff;
}

.values-container{
  margin: 1.5rem;
  background-color: rgb(32, 103, 109);
}

.values-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 95%;
}

.values-card{
  font-size: 15px;
}

.values-card-title{
  background-color: #09313a;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
 /* border: 1px #868686 solid;*/
  display: inline;
}

.values-card-title i{

  margin-right: 0.5rem;;
}

.card{
  border: 1px #09313ae solid!important;
}

.profiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;;
}

.profile-picture {
  width: 150px;
}

.profile-label {
  display: block;
  font-weight: 500;
  color: #5E5E5E;
  background-color: #ffffff;
}

.bg-main, .bg-primary  {
  background: linear-gradient(180deg, #083c47, #0d697e, #09313a)!important;
  border: none;
}



.top{
  background: linear-gradient(120deg, #ec38f2, #00f0ff, #a5ffcb);
  height:200px;
  z-index: 3;
  background-size: 150% 150%;
  animation: gradientShiftBottom 30s ease infinite;
}

@keyframes gradientShiftBottom {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.top-overlay{
  position: relative;
  height:200px;
  background: linear-gradient(360deg, #ffffff, #ffffff00);
  top:-200px;
}

.section-content{
position: relative;
top:-320px;
}

.padding-reset{
  padding: 0!important;
}

footer{
  height:150px;
background-color: #272727;
}

footer a{color: #ffffff;}

footer a:hover{color: #ffffff;}

.copyright{
  position:relative;
  top:70px!important;
}

.site-hero .card{
  display: block!important;
  max-width: fit-content;
  padding:0 0.5em;
  margin: 0 auto;
}

.social{
  top: 2rem;
  position: relative;
  font-size: 2.5rem;
  z-index: 3;
}

.social a{
  color: #09313a;
  margin: 0.4rem;
}

.social a:hover{
  color: #0e6475;
}

.social-label{
  color: #09313a;
  font-size: 1rem;
  display: block;
  margin-top: 0.5rem;
}

.policy, .legal{
  padding-top: 150px !important;
}

.policy ul{
  list-style: none;
}

/* desktop */
@media (min-width: 1024px) {

  .site-content {
    padding-top: 120px!important;
  }
  .nav-link.active {
    color: #F15522 !important;
    border-bottom: 2px solid #F15522;
  }

  #menu {
    display: none !important;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
    opacity: 1;
    max-height: none;
    overflow: visible;
    box-shadow: none;
    z-index: 999;
  }

  .navbar-nav.d-lg-flex {
    display: flex !important;
    gap: 8px;
    padding-top:0!important;
  }
  .hamburger {
    display: none;
  }

  .calltoaction.active{
    color:#ffffff!important;
    border:none!important;
  }
  section[id] {
    scroll-margin-top: 0px;
    scroll-margin-top: 150px;
    padding-top:150px;
  }

  .btn-primary:hover, .btn-secondary:hover{
    transform: scale(1.03);
  }
  .hero-content{
    top:150px;
  }
}

/*  mobile */
@media (max-width: 1023px) {
  .nav-link.active {
    background-color: #09313a;
    color: #ffffff !important;
    border: none;
  }

  .nav-link:hover {
    background-color: #0e6475;
    color: #ffffff !important;
  }

  #menu {
    position: fixed;
    top: 133px;
    left: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    background: white;
    padding: 1rem 1.5rem;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    background-color: #00000000!important;
  }

  #menu.menu-visible {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }

  #menu > ul {
    width: 100%;
    max-width: 1140px;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-bottom: 1rem;
  }


  .nav-link {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #menudesktop {
    display: none!important;
  }

  .description{
    font-size: 16px;
    font-weight: 500;
  }

  .hero-content{
    top:213px!important;
  }

  .sub-description{
    font-size: 16px;
    font-weight: 500;
  }

  .star-content, .background-video{
    display: none;
  }

.values-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  
}

@media (max-width: 768px) {
  .hero-section::before {
     opacity: 0.05;
  }
  .hero-section{
   height:750px;
  }
  .hero-section-bg{
    height:750px;
  }
  .hero-content {
    top: 257px;
  }
  .description, .sub-description{
    max-width: 100%;
  }
  .title-section, .sub-title-section{
    max-width: 100%;
  }
  .values-card-container{
    max-width: 95%
  }  
  .btn-secondary{
  margin-left: 0;
  }
  .profile-picture {
    width:95px;
}

}